/********************************************************************* STYLE 4 *************************************************************/
.smart-style-ncdc a {
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s !important;
}
.smart-style-ncdc body.container {
  border-left: 1px solid rgba(34, 38, 46, 0.4);
  border-right: 1px solid rgba(34, 38, 46, 0.4);
}
.smart-style-ncdc #header {
  background-image: none;
  background-color: #0084D1;
}
.smart-style-ncdc .project-context > :first-child {
  color: #697B92;
  text-shadow: 0 0 1px #111318;
}
.smart-style-ncdc #ribbon {
  background: #e6e6e6;
}
.smart-style-ncdc #ribbon .breadcrumb > .active,
.smart-style-ncdc #ribbon .breadcrumb li:last-child {
  color: #868686;
}
.smart-style-ncdc #ribbon .breadcrumb a,
.smart-style-ncdc #ribbon .breadcrumb {
  color: #747474 !important;
}
.smart-style-ncdc .breadcrumb > li + li:before {
  color: #646464;
}
.smart-style-ncdc .project-selector {
  color: #B9B9B9;
}
.smart-style-ncdc .open > .dropdown-menu,
.smart-style-ncdc .dropdown-menu {
  padding: 4px;
}
.smart-style-ncdc .dropdown-menu > li > a,
.smart-style-ncdc .dropdown-menu > li > a {
  border-radius: 4px;
  margin: 3px 0;
}
.smart-style-ncdc .btn.btn-ribbon {
  background-color: #697486;
  background-image: -moz-linear-gradient(top, #6F7D94, #697486);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6F7D94), to(#697486));
  background-image: -webkit-linear-gradient(top, #6F7D94, #697486);
  background-image: -o-linear-gradient(top, #6F7D94, #697486);
  background-image: linear-gradient(to bottom, #6F7D94, #697486);
}
.smart-style-ncdc #logo-group span#activity {
  background: #0d0f12;
  border: 1px solid #0d0f12;
  color: #fff;
  cursor: pointer;
}
.smart-style-ncdc .btn-header > :first-child > a {
  background: #fb3c4a;
  border: 1px solid #fb3c4a;
  color: #fff !important;
  cursor: pointer !important;
}
.smart-style-ncdc .btn-header > :first-child > a:hover {
  opacity: .9;
}
.smart-style-ncdc #cancel-search-js {
  background: #fb3c4a;
  line-height: 29px !important;
}
.smart-style-ncdc .MsgTitle .txt-color-orangeDark {
  color: #fb3c4a !important;
}
@media (max-width: 979px) and (min-width: 768px) {
  .smart-style-ncdc #hide-menu i {
    color: #fff !important;
  }
}
@media only screen and (max-width: 679px) and (min-width: 0px) {
  .smart-style-ncdc #hide-menu i {
    color: #fff !important;
  }
}
@media only screen and (max-width: 479px) and (min-width: 320px) {
  .smart-style-ncdc #sparks {
    background: #fff;
  }
  .smart-style-ncdc #cancel-search-js,
  .smart-style-ncdc .search-mobile .header-search > button {
    border-radius: 3px;
  }
}
.smart-style-ncdc .minifyme {
  background: #0084D1;
}
.smart-style-ncdc .minifyme:hover {
  background: #74CCFF;
  color: #E1E8F3;
}
.smart-style-ncdc #show-shortcut:hover > i {
  color: #fff;
}
.smart-style-ncdc aside,
.smart-style-ncdc .superbox-show,
.smart-style-ncdc .page-footer {
  background: #004061;
}
.smart-style-ncdc .superbox-list.active:before {
  color: #004061;
}
.smart-style-ncdc #logo-group {
  background: #0084D1 !important;
}
.smart-style-ncdc .login-info span,
.smart-style-ncdc .login-info {
  border-bottom: none;
}
.smart-style-ncdc nav ul b {
  font-size: 14px;
  margin-top: 0px;
}
.smart-style-ncdc nav ul b .fa-plus-square-o:before {
  content: "\f104";
}
.smart-style-ncdc nav ul b .fa-minus-square-o:before {
  content: "\f107";
}
.smart-style-ncdc .header-search > input[type="text"] {
  border-color: #FFF !important;
  border-radius: 2px;
}
.smart-style-ncdc nav ul ul li > a {
  text-shadow: 0 1px 1px #000;
  font-size: 13px;
  padding-left: 43px;
  color: #e1eaf1;
  display: block;
  font-weight: 300;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.smart-style-ncdc nav ul ul ul li a {
  padding: 8px 17px 8px 54px !important;
}
.smart-style-ncdc nav ul ul ul ul li a {
  padding-left: 72px !important;
}
.smart-style-ncdc nav ul ul ul ul ul li a {
  padding-left: 90px !important;
}
.smart-style-ncdc nav ul ul ul ul ul ul li a {
  padding-left: 108px !important;
}
.smart-style-ncdc nav > ul > li > ul::before,
.smart-style-ncdc nav > ul ul li::before {
  border: none !important;
}
.smart-style-ncdc nav > ul > li > a > i {
  font-size: 17px;
  vertical-align: 0px;
}
.smart-style-ncdc nav > ul > li > a b {
  right: 17px;
  top: 12px;
}
.smart-style-ncdc nav > ul > li > a > i:after {
  border: 1px solid #fff;
  /* here */
}
.smart-style-ncdc nav ul ul {
  background: #004061;
}
.smart-style-ncdc nav ul ul li > a:hover {
  background: #0084D1 !important;
}
.smart-style-ncdc nav ul li a,
.smart-style-ncdc .login-info strong,
.smart-style-ncdc .login-info a {
  color: #8b91a0;
}
.smart-style-ncdc nav ul li a:active {
  background: none;
}
.smart-style-ncdc nav ul li a:hover {
  color: #E1EAF1;
}
.smart-style-ncdc .header-dropdown-list a.dropdown-toggle {
  color: #FFF;
  text-decoration: none;
}
.smart-style-ncdc nav ul li a {
  padding: 12px 17px 12px 16px;
}
.smart-style-ncdc .login-info {
  height: auto;
}
.smart-style-ncdc .login-info > span {
  padding: 5px 10px;
}
.smart-style-ncdc .login-info img {
  width: 35px;
  border-radius: 50%;
}
.smart-style-ncdc .login-info a {
  margin-top: 2px;
}
.smart-style-ncdc .login-info a span {
  max-width: 136px;
}
.smart-style-ncdc .login-info a:hover {
  color: #fff;
}
.smart-style-ncdc #logo-group > span .badge {
  background: #0aa699;
}
.smart-style-ncdc #activity.active .badge {
  background: #0aa699 !important;
}
.smart-style-ncdc .ajax-dropdown {
  background: #E2E8F1;
}
.smart-style-ncdc .ajax-notifications {
  background: #fff;
}
/* no nav animation */
.smart-style-ncdc nav > ul > li > a:hover i {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}
/*
 * COLORS
 */
.smart-style-ncdc img.online {
  border-left-color: #0AA699 !important;
}
.smart-style-ncdc .onoffswitch-inner:before {
  background-color: #36AECC !important;
}
.smart-style-ncdc .bg-color-red {
  background-color: #fb3c4a !important;
}
.smart-style-ncdc .pagination > .active > a,
.smart-style-ncdc .pagination > .active > span,
.smart-style-ncdc .pagination > .active > a:hover,
.smart-style-ncdc .pagination > .active > span:hover,
.smart-style-ncdc .pagination > .active > a:focus,
.smart-style-ncdc .pagination > .active > span:focus {
  background-color: #36AECC;
  border-color: #36AECC;
}
/*
 * MINIFIED
 */
.smart-style-ncdc.minified .login-info a {
  margin-top: 6px;
}
.smart-style-ncdc.minified nav ul li a {
  padding: 12px 17px 12px 14px;
}
.smart-style-ncdc.minified nav > ul > li > a > i {
  font-size: 18px;
}
.smart-style-ncdc.minified nav > ul > li {
  border-bottom: 1px solid #131416;
  border-top: 1px solid #303031;
}
.smart-style-ncdc.minified nav > ul > li > ul {
  background: #004061;
}
.smart-style-ncdc.minified nav > ul > li > ul > li {
  background: #004061;
}
.smart-style-ncdc.minified .login-info img {
  width: 30px !important;
}
.smart-style-ncdc.minified .login-info span {
  padding: 0px 5px !important;
}
.smart-style-ncdc.minified nav ul ul li > a:hover {
  background: #00507F !important;
}
.smart-style-ncdc.minified nav ul > li > ul > li > ul {
  background: #004061;
}
.smart-style-ncdc.minified nav > ul > li > ul > li > ul > li {
  background: #004061;
}
.smart-style-ncdc.minified nav ul ul li > a {
  padding-left: 13px;
  padding-right: 13px !important;
}
.smart-style-ncdc.minified nav ul ul ul li a {
  padding-left: 33px !important;
  padding-right: 13px !important;
}
.smart-style-ncdc.minified nav ul ul ul ul li a {
  padding-left: 43px !important;
  padding-right: 13px !important;
}
.smart-style-ncdc.minified nav ul ul ul ul ul li a {
  padding-left: 53px !important;
  padding-right: 13px !important;
}
.smart-style-ncdc.minified nav ul ul ul ul ul ul li a {
  padding-left: 63px !important;
  padding-right: 13px !important;
}
/*
 * widget colors
 */
.smart-style-ncdc .jarviswidget-color-darken > header {
  background: #004061 !important;
  border-color: #004061 !important;
}
.smart-style-ncdc .jarviswidget-color-blueDark > header {
  background: #353D4B !important;
  border-color: #353D4B !important;
}
.smart-style-ncdc .jarviswidget-color-blue > header {
  background: #688F9E;
  border-color: #6A838D !important;
}
.smart-style-ncdc .jarviswidget-color-purple > header {
  background: #736086;
}
.smart-style-ncdc .jarviswidget-color-red > header {
  background: #C02631;
  border-color: #8F2129 !important;
}
.smart-style-ncdc .jarviswidget .bg-color-red {
  background: #C02631 !important;
}
.smart-style-ncdc .jarviswidget-color-greenLight > header,
.smart-style-ncdc .jarviswidget .bg-color-greenLight {
  border-color: #96B447 !important;
  background: #96B447 !important;
}
.smart-style-ncdc .jarviswidget-color-yellow > header,
.smart-style-ncdc .jarviswidget .bg-color-yellow {
  border-color: #DBB727 !important;
  background: #FDD01C !important;
  color: #25241F;
}
.smart-style-ncdc .jarviswidget-color-pink > header,
.smart-style-ncdc .jarviswidget .bg-color-pink {
  background: #DB8EBB !important;
}
/*
 * Style 1 Top Menu
 */
.smart-style-ncdc.menu-on-top nav ul ul li > a {
  text-shadow: none !important;
  color: #646E75;
}
.smart-style-ncdc.menu-on-top aside {
  background: #14161B;
}
.smart-style-ncdc.menu-on-top aside#left-panel {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #222;
  border-top: 1px solid #333;
}
.smart-style-ncdc.menu-on-top aside#left-panel nav > ul > li {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.smart-style-ncdc.menu-on-top aside#left-panel nav > ul > li:hover {
  border-right-color: #333;
  border-left-color: #333;
}
.smart-style-ncdc.menu-on-top aside#left-panel nav > ul > li > a {
  text-shadow: none !important;
  font-size: 13px;
  padding: 10px 9px !important;
}
.smart-style-ncdc.menu-on-top nav ul ul li a {
  padding-left: 10px !important;
  font-size: 13px;
}
/* Hover state */
.smart-style-ncdc.menu-on-top aside#left-panel nav > ul > li:hover {
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #04070C 0%, #2E3E57 66%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfcfcf), color-stop(66%, #2E3E57));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #04070C 0%, #2E3E57 66%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #04070C 0%, #2E3E57 66%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #04070C 0%, #2E3E57 66%);
  /* IE10+ */
  background: linear-gradient(to bottom, #04070C, #2E3E57 66%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04070C', endColorstr='#2E3E57', GradientType=0);
  /* IE6-9 */
}
.smart-style-ncdc.menu-on-top aside#left-panel nav > ul > li:hover > a {
  color: #F1F1F1 !important;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.smart-style-ncdc.menu-on-top aside#left-panel nav > ul > li > ul {
  background: #00507F;
}
/* hover state universal */
.smart-style-ncdc.menu-on-top nav ul ul li a,
.smart-style-ncdc.menu-on-top nav ul ul ul li a {
  color: #D8DEE5;
}
.smart-style-ncdc.menu-on-top nav ul ul li a:hover,
.smart-style-ncdc.menu-on-top nav ul ul ul li a:hover {
  color: #fff;
  background-color: #0084D1 !important;
}
.smart-style-ncdc.menu-on-top nav ul ul li:hover > a {
  color: #fff;
  background-color: #0084D1;
}
.smart-style-ncdc.menu-on-top nav > ul ul ul {
  border-top: 1px solid #c7c7c7 !important;
}
/* Hover state second level */
.smart-style-ncdc.menu-on-top nav ul ul,
.smart-style-ncdc.menu-on-top nav ul ul ul {
  background: #2e3e57 !important;
  border: 1px solid transparent;
  padding: 0px;
}
.smart-style-ncdc.menu-on-top nav > ul ul li:hover > ul {
  background: #333;
}
/*
	 * Child Arrow
	 */
/* top level childs */
.smart-style-ncdc.menu-on-top nav > ul > li > a:after {
  color: #8AA1B3 !important;
}
/* next level childs */
.smart-style-ncdc.menu-on-top nav > ul > li > a:after,
.smart-style-ncdc.menu-on-top nav > ul ul > li a:after,
.smart-style-ncdc.menu-on-top nav ul ul li:hover > a:after,
.smart-style-ncdc.menu-on-top nav > ul ul > li a:hover:after {
  color: #D5D5D5;
}
.smart-style-ncdc.menu-on-top nav ul ul li:hover > a:after,
.smart-style-ncdc.menu-on-top nav > ul ul > li a:hover:after {
  color: #fff;
}
.smart-style-ncdc.menu-on-top nav > ul ul > li a:only-child:after,
.smart-style-ncdc.menu-on-top nav > ul > li > a:only-child:after {
  content: "" !important;
}
/*
	 * Active Child
	 */
.smart-style-ncdc.menu-on-top nav ul ul .active > a {
  color: #fff !important;
}
.smart-style-ncdc.menu-on-top nav ul ul .active > a:hover,
.smart-style-ncdc.menu-on-top nav ul ul li.active:hover > a {
  color: #fff !important;
}
